*{
    margin: 0;
    padding: 0;
    font-family: gilroy;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #dadada;
    /* align-items: center;
    justify-content: center;
    display: flex; */
}
#center{

    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(0%,-50%);
    width: 70%;
    height: 80%;
    /* background-color: crimson; */
}
.imgcontainer{
    overflow: hidden;
    position: absolute;
    width: 0%;
    height: 100%;
    /* background-color: goldenrod; */
}
img{
    /* width: 100%; */
    height: 100%;
     /* object-fit: cover; */

}
#one{
    width: 0%;
}
.text{
    position: absolute;
    bottom: 15%;
    left: -10%;
    overflow: hidden;
    width: 400px;
    height: 100px;
    z-index: 999;
    /* background-color: blue; */
}
.text h1{
    font-size: 6vw;
    position: absolute;
    top: 100px;
}
